meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"

/ TODO: = csrf_meta_tags

/ DNS预解析
- [].each do |s|
  link rel="dns-prefetch" href="http://#{s}"

/ TODO: favicon、apple-touch-icon...
/ link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"
/ link rel="apple-touch-icon-precomposed" href="http://gtms03.alicdn.com/tps/i3/T1OjaVFl4dXXa.JOZB-114-114.png"
/ link rel="apple-touch-icon" href="/touch-icon-iphone.png"
/ link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad.png"
/ link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone4.png"

/ TODO: OpenSearch
/ link rel="search" type="application/opensearchdescription+xml" title="" href="/opensearch.xml">

/ Javascript
script src="/js/jquery-1.11.0.js"
